[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	ignorecase = true
	precomposeunicode = true
[remote "origin"]
	url = git@github.com:galaxysd/galaxysd.github.io.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = coding
	merge = refs/heads/master
[remote "coding"]
	url = git@git.coding.net:galaxy/Galaxy.git
	fetch = +refs/heads/*:refs/remotes/coding/*
	lfsurl = "https://github.com/galaxysd/galaxysd.github.io.git/info/lfs"
[lfs "https://github.com/galaxysd/galaxysd.github.io.git/info/lfs"]
	access = basic
